
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  --color-chocolate: #900C3F;
  --color-bluegray: #34495e;
  --color-backgroundColor: #ebedef;
  --color-buttonColor: #283747;
  --color-buttonHoverColor: #17202a;
  --color-aboutBackground: #300053;
}


